# # # Composer # # #
/vendor/
/composer.lock

# # # IDE Configuration # # #
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
nbproject/

# # # Operating System Files # # #
.DS_Store
Thumbs.db
desktop.ini

# # # Logs and Reports # # #
*.log
/coverage/
clover.xml

# # # Build and Archive Files # # #
*.zip
*.rar
*.gz
*.tar

# # # Local environment files # # #
.env
